body {
  display: flex;
  justify-content: center;
  text-align: center;
  height: 100%;
}

.app-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 600px;
  height: 800px;
}